*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    min-height: 100vh;
    width: 100vw;
    /*background-color: #176B87;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0vw 0 2vw 0 ;
    background: linear-gradient(144deg, #a4c8e5 0%, #54e0db 30%, #95bfe1  70%, #abeaf3 100%);
}
.head-section{
  height: 10%;
  width: 100%;
}
.head-section h1{
  font-size: 4vw;
  text-decoration: underline;
  text-align: center;
  color: black;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2vw;
}
.page{
    height: 78vh;
    width: 55vw;
    background-color: #EEF5FF;
    border-radius: 20px;
    color: #265073;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.7vw 0.5vw;
    padding-top: 2vw;
}
.page h1{
    font-size: 2.2vw;
    text-decoration: underline;
    font-weight: 700;
    text-shadow: 0 .2rem .3rem rgba(247, 223, 255, 0.4);
    margin-bottom: 1.4vw;
}
select {
    font-size: 1.4vw;
    font-weight: 500;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    width: 80%; 
    border: none;
    height: 45px;
    padding: 0 16px;
    color: #265073;
}
select option{
    color: #265073;
   /* background: linear-gradient(20deg, #da6f6f, #ffcdde, #e2abff, #e5cbff);*/
   background-color: #EEF5FF;
    outline: none;
}
select#branch {
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
input{
    height: 45px;
    padding: 0 16px;
    font-size: 1.35vw;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border: none;
    outline: none;
}
.inputCommon{
    width: 80%;
}
input::placeholder{
    color: #265073;
}
.submit-button{
    width: 82%;
    height: 45px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: linear-gradient(180deg, #088395, #35A29F);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
    scale: 1;
}
.submit-button:hover{
    scale: 0.95;
}
/*ex*/
::selection{
    color: #fff;
    background: #265073;
  }
  .wrapper{
    width: 80%;
    height: auto;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 45px;
    padding: 0 16px;
    font-size: 1.35vw;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    /*padding: 20px;*/
    margin-top: 0px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: absolute;
    bottom: 10%;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 45px;
    width: 100%;
    border: 5px solid red;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    /*padding: 0 20px 0 43px;*/
    border: none;
  }
  .search input:focus{
    padding-left: 16px;
    border: 1px solid #265073;
    width: 100%;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    /*margin-top: 10px;*/
    max-height: 39.5vh;
    overflow-y: auto;
    padding-right: 7px;
    z-index: 999999999;
    position: absolute;
    background-color: #d7f4ff;
    width: 100%;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
.wrapper span::-webkit-scrollbar{
    display: none;
} 
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
    
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 45px;
    padding: 0 13px;
    font-size: 1.17vw;
    /*text-transform: lowercase;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-weight: 500;
  }
  .options li::-webkit-scrollbar{
    display: none;
}
  .options li::first-letter{
    text-transform: capitalize;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }
  .box  {
    padding: 1.4vw 5vw;
    color: #265073;
    background-color:#d7f4ff;
    font-size: 1.15vw;
    z-index: 9999999999999999;
  }